DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=*
DB_ENGINE=django.db.backends.postgresql
DB_NAME=gst_auth_service
DB_USER=gst
DB_PASSWORD=S3cur3001
DB_HOST=postgres-auth
DB_PORT=5432
CORS_ALLOW_ALL_ORIGINS=true
JWT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7
AUTH_INTERNAL_TOKEN=change-me-internal-token
NOTIFICATION_SERVICE_URL=http://127.0.0.1:8894/api/notifications/events/
NOTIFICATION_INTERNAL_TOKEN=internal-notification-token
NOTIFICATION_SERVICE_TIMEOUT_SECONDS=10
NOTIFICATION_SERVICE_QUEUE_MODE=true
