DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=*
DB_ENGINE=django.db.backends.mysql
DB_NAME=auth_service
DB_USER=auth
DB_PASSWORD=auth
DB_HOST=mysql-auth
DB_PORT=3306
CORS_ALLOW_ALL_ORIGINS=true
JWT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7
